In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [3]:
ser2=ser1*2
ser2

A    0
B    2
C    4
dtype: int32

In [5]:
ser2['B']

2

In [10]:
ser2[0:2]

A    0
B    2
dtype: int32

In [8]:
ser2[['A','B']]

A    0
B    2
dtype: int32

In [12]:
ser2[ser2>3]

C    4
dtype: int32

In [13]:
ser2[ser2>3] = 10
ser2

A     0
B     2
C    10
dtype: int32

In [16]:
dframe = DataFrame(np.arange(25).reshape(5,5),index=['nyc','la','sf','dc','chi'],columns=['a','b','c','d','e'])

In [17]:
dframe

      a   b   c   d   e
nyc   0   1   2   3   4
la    5   6   7   8   9
sf   10  11  12  13  14
dc   15  16  17  18  19
chi  20  21  22  23  24

In [19]:
dframe['b']

nyc     1
la      6
sf     11
dc     16
chi    21
Name: b, dtype: int32

In [21]:
dframe[['b','e']]

      b   e
nyc   1   4
la    6   9
sf   11  14
dc   16  19
chi  21  24

In [22]:
dframe[dframe['c']>8]

      a   b   c   d   e
sf   10  11  12  13  14
dc   15  16  17  18  19
chi  20  21  22  23  24

In [23]:
dframe >10

         a      b      c      d      e
nyc  False  False  False  False  False
la   False  False  False  False  False
sf   False   True   True   True   True
dc    True   True   True   True   True
chi   True   True   True   True   True

In [25]:
dframe.ix['la']

a    5
b    6
c    7
d    8
e    9
Name: la, dtype: int32

In [26]:
dframe.ix[1]

a    5
b    6
c    7
d    8
e    9
Name: la, dtype: int32