In [1]:
import pandas as pd

In [2]:
#pip install xlrd
#pip install openpyxl

In [3]:
xlsfile = pd.ExcelFile('lec28_test.xlsx')

In [4]:
dframe = xlsfile.parse('Sheet1')

In [5]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              21       55667        4545
1             435        4545        4545
2            3434       76764         452
3             343         667         456
4           34343        3146         852