In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [4]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha
1 -0.009606 -0.154424  X   beta
2 -0.471977 -2.582927  Y  alpha
3  0.487422  0.976563  Y   beta
4  1.120881  0.145313  Z  alpha

In [5]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [6]:
group1

In [8]:
group1.mean()

k1
X   -0.391006
Y    0.007722
Z    1.120881
Name: dataset1, dtype: float64

In [9]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [10]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.009606
    JAN   -0.471977
NY  FEB    0.487422
    JAN    0.174237
Name: dataset1, dtype: float64

In [11]:
dframe

   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha
1 -0.009606 -0.154424  X   beta
2 -0.471977 -2.582927  Y  alpha
3  0.487422  0.976563  Y   beta
4  1.120881  0.145313  Z  alpha

In [12]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.391006  0.558010
Y   0.007722 -0.803182
Z   1.120881  0.145313

In [14]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -0.772406  1.270444
   beta  -0.009606 -0.154424
Y  alpha -0.471977 -2.582927
   beta   0.487422  0.976563
Z  alpha  1.120881  0.145313

In [15]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [16]:
dframe

   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha
1 -0.009606 -0.154424  X   beta
2 -0.471977 -2.582927  Y  alpha
3  0.487422  0.976563  Y   beta
4  1.120881  0.145313  Z  alpha

In [17]:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print'\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha
1 -0.009606 -0.154424  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.471977 -2.582927  Y  alpha
3  0.487422  0.976563  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  1.120881  0.145313  Z  alpha

In [19]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2=alpha
   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha


Key1 = X Key2=beta
   dataset1  dataset2 k1    k2
1 -0.009606 -0.154424  X  beta


Key1 = Y Key2=alpha
   dataset1  dataset2 k1     k2
2 -0.471977 -2.582927  Y  alpha


Key1 = Y Key2=beta
   dataset1  dataset2 k1    k2
3  0.487422  0.976563  Y  beta


Key1 = Z Key2=alpha
   dataset1  dataset2 k1     k2
4  1.120881  0.145313  Z  alpha

In [20]:
group_dict = dict (list(dframe.groupby('k1')))

In [21]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha
1 -0.009606 -0.154424  X   beta

In [22]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [23]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.772406  1.270444
 1 -0.009606 -0.154424
 2 -0.471977 -2.582927
 3  0.487422  0.976563
 4  1.120881  0.145313, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [24]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  1.270444
   beta  -0.154424
Y  alpha -2.582927
   beta   0.976563
Z  alpha  0.145313

In [25]:
dframe

   dataset1  dataset2 k1     k2
0 -0.772406  1.270444  X  alpha
1 -0.009606 -0.154424  X   beta
2 -0.471977 -2.582927  Y  alpha
3  0.487422  0.976563  Y   beta
4  1.120881  0.145313  Z  alpha